<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>{% block title %}Far &amp; Out Studio{% endblock %}</title>

        <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">

        {% block stylesheets %}
          <script src="{{ asset('build/manifest.js') }}"></script>
          <link rel="stylesheet" href="{{ asset('build/style.css') }}">
        {% endblock %}

        <style type="text/css">
            {% block styles %}{% endblock %}
        </style>
    </head>

    {% set current_path = app.request.get('_route') %}
    <body class="{{ current_path }}">

        <header>
          <a href="{{ path('app_default_home') }}" class="logo">
            <img src="{{ asset('images/logo.svg') }}" alt="">
          </a>

          <div class="hamburger hamburger--slider">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>

        </header>

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/vendor.js') }}"></script>
            <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
